TZ=Europe/Moscow

CLICKHOUSE_SERVICE_HOST=clickhouse
CLICKHOUSE_DB=default
CLICKHOUSE_USER=if_flow
CLICKHOUSE_PASSWORD=change_me_clickhouse

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_grafana_admin

CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
GRAFANA_PORT=3001
